<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <div>
    
    <h1>Bonjour {{ user.firstname || 'Utilisateur' }},</h1>
    
    <p>Vous avez demandé la réinitialisation de votre mot de passe pour votre compte Tickey.</p>
    
    <p>Cliquez simplement sur le bouton ci-dessous pour choisir un nouveau mot de passe. Attention, ce lien est sécurisé et expirera dans <strong>20 minutes</strong>.</p>
    
    <div>
      <a href="{{ resetLink }}" class="btn" target="_blank">Réinitialiser mon mot de passe</a>
    </div>
    
    <p>Si le bouton ne fonctionne pas, vous pouvez copier-coller ce lien dans votre navigateur :</p>
    <p>{{ resetLink }}</p>
    
    <p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité. Votre mot de passe actuel restera inchangé.</p>
    
    <div>
      L'équipe Mobytic
    </div>
  </div>
</body>
</html>