<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Nouveau ticket !</h1>
    <p>Bonjour l'équipe !</p>
    <p>Un nouveau ticket vient d'être créé pour le site {{ ticket.user.website }} à {{ ticket.createdAt }}</p>
    <p>Titre : {{ ticket.title }}</p>
    <p>Catégorie : {{ ticket.category }}</p>
    <p>Description : {{ ticket.description }}</p>
    <p>Tu peux te connecter sur ton application Tickey pour plus d'information : <a href="www.tickey.mobytic.fr">Aller sur Tickey</a></p>
    <p>Bon courage et bonne journée à tous !</p>
    <p>Tickey</p>
</body>
</html>