<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Bonjour,</h1>
    <p>Nous avons bien reçu votre ticket concernant : "{{ ticket.title }}".</p>
    <p>Notre équipe va s'en charger au plus vite.</p>
    <p>Vous pouvez à tout moment consulter le statut de votre ticket depuis la liste de vos tickets.<p>
    <p>A très beintôt !</p>
    <p>L'équipe Mobytic</p>
</body>
</html>