<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>C'est fait !</h1>
    <p>Bonjour,</p>
    <p>Votre Ticket : "{{ ticket.title }}" vient d'être traité par l'équipe Mobytic</p>
    <p>{{ ticket.mailComment }}</p>
    <p>Nous vous remercions pour votre patience, et n'hésitez pas à créer un nouveau ticket au besoin !</p>
    <p>A très vite !</p>
    <p>L'équipe Mobytic</p>
</body>
</html>